*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:black;
}

.box{
    width: 90%;
    max-width: 470px;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background:aliceblue;
    color: black;
    padding: 10px 25px;
    height: 60px;
    border-radius: 50px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: aliceblue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.icon{
    width: 150px;
    margin-top: 20px;
}

.weather h1{
    font-size: 45px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: 10px;
}

.description{
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
}